@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">DevOps End-to-End</h1>
    <p>Projeto exemplo para demonstrar um processo DevOps.</p>
</div>
<div class="text-center">
    <button class="btn btn-success" asp-action="GerarMassa">Gerar massa</button>
</div>


<div class="row justify-content-center">
    <div class="col col-6 ">
        <div class="card mb-3">
            <div class="card-header text-white bg-success">Com orgulho apresentado para:</div>
            <div class="card-body">
                <div class="row">
                    <div class="col col-6">
                        <ul>
                            <li>Caio</li>
                            <li>Francisco</li>
                            <li>Thiago</li>
                            <li>Paulo</li>
                        </ul>
                    </div>
                    <div class="col col-6">
                        <img src="images/portoseguro.png" alt="Porto Seguro" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
