@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">DevOps End-to-End</h1>
    <p>Projeto exemplo para demonstrar um processo DevOps.</p>
</div>
<button class="btn btn-success" asp-action="GerarMassa">Gerar massa</button>